# LLM
OLLAMA_MODEL=mistral-3:latest

# Message broker
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Vector database
VECTOR_DB_URL=http://vectordb:6333

# Game settings
PHASE_DURATION_SECONDS=60
AGENT_COUNT=10
MAFIA_COUNT=2
