# LLM
OLLAMA_MODEL=smollm2:135m
LLM_QUEUE_MAX_SIZE=10
OLLAMA_URL=http://mafia-ai-ollama:11434
SERVICENAME=llm

# Message broker
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
AMQP_URL=amqp://guest:guest@mafia-ai-rabbitmq:5672/

# Vector database
VECTOR_DB_URL=http://vectordb:6333
CHROMA_OPEN_TELEMETRY__ENDPOINT=http://mafia-ai-otel-collector:4317/
CHROMA_OPEN_TELEMETRY__SERVICE_NAME=chroma

# Agent service
AGENT_HTTP_PORT=8100
LLM_URL=http://mafia-ai-llm:8080
VECTORDB_HOST=mafia-ai-vectordb
VECTORDB_PORT=8000
MESSAGE_MAX_TOKENS=256
VOTE_MAX_TOKENS=80

# Game settings
PHASE_DURATION_SECONDS=60
VOTE_TIMEOUT_SECONDS=30
AGENT_COUNT=10
MAFIA_COUNT=3
AGENT_HOST_PATTERN=mafia-ai-agent-{n}

# Admin ui
ORCHESTRATOR_URL=http://mafia-ai-orchestrator:8081

# Telemetry
OTEL_SDK_DISABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://mafia-ai-otel-collector:4317
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_USERS_DEFAULT_THEME=dark
