# LLM
OLLAMA_MODEL=smollm2:135m
LLM_QUEUE_MAX_SIZE=10
SERVICENAME=llm

# Agent service
MESSAGE_MAX_TOKENS=150
VOTE_MAX_TOKENS=50

# Game settings
PHASE_DURATION_SECONDS=60
VOTE_TIMEOUT_SECONDS=30
AGENT_COUNT=10
MAFIA_COUNT=3
AGENT_HOST_PATTERN=mafia-ai-agent-{n}

# Services
GAME_SERVICE_URL=http://mafia-ai-game-service:8081
LLM_URL=http://mafia-ai-llm:8080
OLLAMA_URL=http://mafia-ai-ollama:11434
